@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@800&family=Montserrat:wght@500&family=Poppins:wght@400;600&family=Sofia&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: 'Poppins', sans-serif;
}

.about-me-heading {
    font-size: 20px;
    display: inline-block;
    position: absolute;
    top: auto;
    padding-left: 20px;
}

.about-me-paragraph {
    font-size: 18px;
    display: inline-block;
    width: 50%;
    position: absolute;
    top: 150px;
    padding-left: 20px;
}
#navbar {
    display: flex;
    align-items: center;
}

#navbar a {
    text-decoration: none;
    color: black;
    padding: 24px;
    font-weight: bold;
    font-size: 24px;
}

#pages {
    margin: 0px auto;
}

#navbar #logo img {
    width: 150px;
}

#footer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 24px;
}

#footer-navbar span {
    display: flex;
    justify-content: center;
    font-size: 10px;
    color: gray;
    margin-top: 6px;
}
#footer-navbar i {
    padding-left: 20px;
    text-decoration: none;
    color: black;
}

