.about-me-heading {
    font-size: 20px;
    display: inline-block;
    position: absolute;
    top: auto;
    padding-left: 20px;
}

.about-me-paragraph {
    font-size: 18px;
    display: inline-block;
    width: 50%;
    position: absolute;
    top: 150px;
    padding-left: 20px;

}