.about-me-heading {
    font-size: 20px;
    display: inline-block;
    width: 50%;
    position: absolute;
    top: 20px left;
}

.about-me-paragraph {
    font-size: 18px;
    display: inline-block;
    width: 50%;
}