@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@800&family=Montserrat:wght@500&family=Poppins:wght@400;600&family=Sofia&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: 'Poppins', sans-serif;
}

#navbar {
    display: flex;
    align-items: center;
}

#navbar a {
    text-decoration: none;
    color: black;
    padding: 24px;
    font-weight: bold;
    font-size: 24px;
}

#pages {
    margin: 0px auto;
}

#navbar #logo img {
    width: 150px;
}
.hero-image {
    height: 100vh;
    position: relative;
    position: sticky;
    top:10px;
    z-index: -1;
}

.hero-image img {
    width: 100%;
    height: 100%;
    z-index: -1;
    object-fit: contain;
}

.image {
    display: block;
    width: 100vw;
    height: 100vh;
    background-attachment: fixed;
    z-index: -1;
}

.hero-image .hero-text {
    font-size: 20px;
    position: absolute;
    width: 20%;
    top:6%;
    left: 38%;
    text-align: center;
}

#contact-details {
    background-color: #F7B538;
    display: flex;
    align-items: center;
}

.contact-email {
    flex: 1;
}

.contact-form {
    flex: 1;
}
.contact-email img {
    width: 50px;
}

header,
footer {
    text-align: center;
    padding: 50px;
}

header p {
    font-size: 14px;
}

form {
    background-color: #F7B538;
    padding: 36px;
    border-radius: 2px;
}

form div label {
    margin-bottom: 8px;
    font-weight: bold;
    color:black;
}

form div h1 {
    color: black;
}

input,
select,
textarea {
    background-color: transparent;
    padding: 12px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 16px;
    border: none;
    border-bottom: 2px solid black;
}

textarea {
    font-family: 'Poppins', sans-serif;
}

input[type=submit] {
    width: auto;
    background-color: #3C6997;
    color: white;
    border: 0;
    border-radius: 20px;
    min-width: 100px;
}
input[type=submit]:hover {
    background-color: white;
    border:2px solid #3C6997;
    color:black;
}

input:focus {
    outline: none
}

textarea:focus {
    outline: none;
}

input:not(:focus):not(:placeholder-shown):invalid {
    background-color: lightcoral;
    border: 2px solid red;
}

#footer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 24px;
}

#footer-navbar span {
    display: flex;
    justify-content: center;
    font-size: 10px;
    color: gray;
    margin-top: 6px;
}

#footer-navbar i {
    padding-left: 20px;
    text-decoration: none;
    color: black;
}
