@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@800&family=Montserrat:wght@500&family=Poppins:wght@400;600&family=Sofia&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}

#navbar {
    display: flex;
    align-items: center;
}

#pages {
    margin: 0px auto;
}

#navbar a {
    text-decoration: none;
    color: black;
    padding: 24px;
    font-weight: bold;
    font-size: 24px;
}

#navbar #logo img {
    width: 150px;
}

.hero-image {
    height: 100vh;
    position: relative;
}

.hero-image img {
    width: 100vw;
    z-index: -1;
}

.hero-image .hero-text {
    font-size: 24px;
    position: absolute;
    width: 35%;
    top:30%;
    left: 28%;
    text-align: center;
}

#layout .horizontal-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}

.horizontal-grid img {
    height: 250px;
    flex: 1;
    object-fit: cover;
}
.container {
    position: relative;
  }
  
  .image {
    display: block;
    width: 100%;
    height: auto;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #F7B538;
}

.text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    
  
    transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .container:hover .overlay {
    opacity: 0.8;
  }

/*#layout .horizontal-grid .container {
    position: relative;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #008CBA;
  }
  
.container:hover .overlay {
    opacity: 1;
}

.text {
    color: white;
    font-size: 16px;
    padding: 16px 32px;
}

.container:hover .middle {
    opacity: 1;
}

.horizontal-grid img:hover {
    transform: translateY(-8px);
}

/*.container {
    position: relative;
    columns: 3 auto;
  }
  
  .image {
    width: 100%;
    margin-bottom: 1rem;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 50%;
    opacity: 0;
    transition: .5s ease;
    background-color: #008CBA;
  }
  
  .container:hover .overlay {
    opacity: 1;
  }
  

#cards-section {
    padding: 48px;
}

.card-container {
    display: flex;
    justify-content: space-between;
}

.card {
    background-color: #FFB400;
    flex: 1;
    padding: 36px;
    text-align: center;
    margin: 36px 36px 0px;
    border-radius: 20px;
}

.card h3 {
    font-size: 36px;
    margin: 0px;
}

.card a {
    background-color: black;
    display: block;
    color: white;
    text-decoration: none;
    padding: 12px;
    border-radius: 20px;
}/*