@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@800&family=Montserrat:wght@500&family=Poppins:wght@400;600&family=Sofia&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}

#navbar {
    display: flex;
    align-items: center;
}

#pages {
    margin: 0px auto;
}

#navbar a {
    text-decoration: none;
    color: black;
    padding: 24px;
    font-weight: bold;
}

#navbar #logo img {
    width: 150px;
}



.background-images img {
    width: 100%;
    opacity: 0.2;
    margin: 0px auto;
    padding: 0px 148px;
}
/*#hero {
    background-image: url(../images/background-02.png);
    background-size: cover;
    background-position: top center;
    display: flex;
    margin: 0px auto;
    opacity: 0.5;
}

#cards-section {
    padding: 48px;
}

.card-container {
    display: flex;
    justify-content: space-between;
}

.card {
    background-color: #FFB400;
    flex: 1;
    padding: 36px;
    text-align: center;
    margin: 36px 36px 0px;
    border-radius: 20px;
}

.card h3 {
    font-size: 36px;
    margin: 0px;
}

.card a {
    background-color: black;
    display: block;
    color: white;
    text-decoration: none;
    padding: 12px;
    border-radius: 20px;
}*/



@media screen and (max-width:800px) {
    #home-page {
    display: flex;
    flex-direction: column;
    }
    #navbar #logo img {
        width: 50px;
    }

    #navbar a {
        font-size: 0.65rem;
    }
}