/*
    Write your CSS for the assignment here.

    You shouldn't need to modify the HTML;
    however, you are allowed to. 
    
    Just be aware that you may break some
    of the setup.css styling if you do so.
*/

* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

.card-container {
    display: flex;
    flex-direction: column;
    width: 90vw;
    max-width: 800px;
    min-width: 350px;
    margin: 48px auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.card-style-3 {
    margin: 24px;
    width: 350px;
    background: radial-gradient(at top left, #fff700, #f2c523);
    border: 15px solid #e9c238;
    border-radius: 5px;
    padding: 10px;
    align-items: center;
    justify-content: space-between;
}

.card-style-3 img {
    width: 100%;
    height:150px;
    object-fit: cover;
    border: 5px solid #bf980c
}

.card-style-3 .pokemon-header {
    display: inline-flex;
    align-items: center;
}

.card-style-3 .health {
    font-size: 20px;
    display: flex;
    justify-content: space-evenly;
}

.card-style-3 .details {
    background: radial-gradient(at center, #f7d558, #d7ab0c);
    font-size: 12px;
    font-weight: bold;
    font-style: italic;
}

.card-style-3 .attack {
    display: inline-flex;
    align-items: center;
    padding: 24px 0px;
    
}

.card-style-3 .bold {
    font-weight: bold;
}

.card-style-3 .data {
    border: 2px solid #bf980c;
    padding: 4px;
    font-weight: bold;
    font-size: 12px;
    margin: 12px;

}
