/*
    Write your CSS for the assignment here.

    You shouldn't need to modify the HTML;
    however, you are allowed to. 
    
    Just be aware that you may break some
    of the setup.css styling if you do so.
*/

* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

.card-container {
    width: 90vw;
    max-width: 800px;
    margin: 48px auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.card-style-3 {
    margin: 24px;
    width: 350px;
    border: 2px solid yellow;
    border-radius: 5px;
    padding: 10px;
}

.card-style-3 img {
    width: 100%;
    height:150px;
    object-fit: cover;
    border:
}