* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    margin: 0px;
    background-image: url(../images/Paw\ background-01.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}

#nav-bar {
    background-color: #D4AD98;
    display: flex;
    align-items: center;
    border-bottom: 5px solid black;
}

#nav-bar a {
    display: block;
    text-decoration: none;
    color: black;
    padding: 24px;
    font-size: 24px;
    font-weight: bold;
}

#nav-bar a:hover {
    background-color: #FCFCE4;
}

#nav-bar #logo img {
    width: 300px;
}

#nav-bar #logo {
    margin-right: auto;
}

.dropdown-container {
    position: relative;
}

.dropdown-menu {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    margin-top: 0px;
    transition:
        opacity 0.25s,
        visibility 0.25s;
}

.dropdown-container:last-child .dropdown-menu {
    right: 0px;
}

.dropdown-container:hover .dropdown-menu {
    opacity: 1;
    visibility: visible;
}

.dropdown-menu a {
    background-color: #FCFCE4;
    width: 100%;
    min-width: 200px;
}

#nav-bar .dropdown-menu a:hover {
    background:  #e6e6c8;
}

#hero {
    background-image: url(../images/pet-care.jpeg);
    background-size: cover;
    background-position: center;
    height: 50vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#hero h2 {
    color: white;
    font-size: 2rem;
    margin: 48px;
}