body {
    background-color: EEEEE;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: rgb(46, 125, 228);
    text-align: center;
}

h2 {
    text-align: center;
    padding-top: 20px;
}

h4 {
    color: gray;
    text-align: center;
}

h5 {
    color: gray;
    margin: 0px 15px;
}

#layout_container {
    width: 500px;
    margin: 0px auto;
}

form {
    width: 100%;
    min-height: 400px;
    background-color: white;
    border-radius: 12px;
    box-shadow: 0px 0px 4px lightgray;
}

#single_input,
#two_inputs, 
#three_inputs {
    display: flex;
}

#single_input input,
#two_inputs input {
    flex: 1;
    margin: 12px;
    padding: 12px
}

#three_inputs input {
    width: 33%;
    margin: 12px;
    padding: 12px;
}