body {
    margin: 0px;
    font-family: sans-serif;
}

header {
    background-color: Salmon;
    padding: 36px;
    color: white;
}

h1 {
    text-align: center;
}

nav a {
    color: white;
    font-size: x-small;
    padding: 3px;
}

main {
    background-color: rgb(229, 229, 229);
    padding: 24px;
}

h3 {
    padding: 16px;
    color: salmon;
}

.card {
    margin: 16px;
    border: solid salmon;
    background-color: white;
    padding: 16px;
    box-shadow: 4px 4px 8px 2px gray;
}

#image_container {
    float: left;
    font-size: 7.5px;
    padding-right: 13px;
}

img {
    -moz-box-align: center;
}

footer {
    background-color: salmon;
    color: white;
    padding: 24px;
    text-align: center;
    font-size: small;
}