@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@800&family=Montserrat:wght@500&family=Poppins:wght@400;600&family=Sofia&family=Tilt+Neon&display=swap');

@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@800&family=Montserrat:wght@500&family=Poppins:wght@400;600&family=Sofia&family=Tilt+Neon&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0px;
}

#cards-container {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

.seasons {
    flex: 250px;
    background-color: black;
    margin: 24px;
    padding: 0px 24px;
    border-radius: 12px;
    text-align: center;
    font-family: 'Tilt Neon', cursive;
}

.seasons a {
    text-decoration: none;
    border-radius: 50px;
    padding: 12px;
    margin-bottom: 24px;
    display: block;
    font-size: 24px;
}

.seasons p {
    color: white;
    padding: 24px;
    text-shadow: white 5px 0 10px;
}

.seasons h1 {
    margin: 24px 0px;
    font-size: 48px;
}

#card-1 h1 {
    text-shadow: #ffbd39 5px 0 10px;
    color: #F8A910;
}

#card-1 .card-content h1 {
    visibility: hidden;
    opacity: 0;
    transition:
        visibility 0.5ms,
        opacity 0.5ms;
}

#card-1:hover .card-content h1 {
    visibility: visible;
    opacity: 1;
}

#card-1 .card-content p {
    visibility: hidden;
    opacity: 0;
    transition:
        visibility 1s,
        opacity 1s;
}

#card-1:hover .card-content p {
    visibility: visible;
    opacity: 1;
}

#card-1 .card-content a {
    visibility: hidden;
    opacity: 0;
    transition:
        visibility 1.5s,
        opacity 1.5s;
}

#card-1:hover .card-content a {
    visibility: visible;
    opacity: 1;
}

#card-1 a {
    box-shadow: 0px 0px 15px #F8A910;
    border: 3px solid #F8A910;
    color: #F8A910;
}

#card-2 h1 {
    text-shadow: #beede5 5px 0 10px;
    color: #beede5;
}

#card-2 a {
    box-shadow: 0px 0px 15px #beede5;
    border: 3px solid #beede5;
    color: #beede5;
}

#card-2 .card-content h1 {
    visibility: hidden;
    opacity: 0;
    transition:
        visibility 0.5ms,
        opacity 0.5ms;
}

#card-2:hover .card-content h1 {
    visibility: visible;
    opacity: 1;
}

#card-2 .card-content p {
    visibility: hidden;
    opacity: 0;
    transition:
        visibility 1s,
        opacity 1s;
}

#card-2:hover .card-content p {
    visibility: visible;
    opacity: 1;
}

#card-2 .card-content a {
    visibility: hidden;
    opacity: 0;
    transition:
        visibility 1.5s,
        opacity 1.5s;
}

#card-2:hover .card-content a {
    visibility: visible;
    opacity: 1;
}

#card-3 h1 {
    text-shadow: #f1aead 5px 0 10px;
    color: #f1aead;
}

#card-3 a {
    box-shadow: 0px 0px 15px #f1aead;
    border: 3px solid #f1aead;
    color: #f1aead;
}
#card-3 .card-content h1 {
    visibility: hidden;
    opacity: 0;
    transition:
        visibility 0.5ms,
        opacity 0.5ms;
}

#card-3:hover .card-content h1 {
    visibility: visible;
    opacity: 1;
}

#card-3 .card-content p {
    visibility: hidden;
    opacity: 0;
    transition:
        visibility 1s,
        opacity 1s;
}

#card-3:hover .card-content p {
    visibility: visible;
    opacity: 1;
}

#card-3 .card-content a {
    visibility: hidden;
    opacity: 0;
    transition:
        visibility 1.5s,
        opacity 1.5s;
}

#card-3:hover .card-content a {
    visibility: visible;
    opacity: 1;
}

#card-4 h1 {
    text-shadow: #9e2a2b 5px 0 10px;
    color: #9e2a2b;
}

#card-4 a {
    box-shadow: 0px 0px 15px #9e2a2b;
    border: 3px solid #9e2a2b;
    color: #9e2a2b;
}

#card-4 .card-content h1 {
    visibility: hidden;
    opacity: 0;
    transition:
        visibility 0.5ms,
        opacity 0.5ms;
}

#card-4:hover .card-content h1 {
    visibility: visible;
    opacity: 1;
}

#card-4 .card-content p {
    visibility: hidden;
    opacity: 0;
    transition:
        visibility 1s,
        opacity 1s;
}

#card-4:hover .card-content p {
    visibility: visible;
    opacity: 1;
}

#card-4 .card-content a {
    visibility: hidden;
    opacity: 0;
    transition:
        visibility 1.5s,
        opacity 1.5s;
}

#card-4:hover .card-content a {
    visibility: visible;
    opacity: 1;
}

#card-type-2 {
    display: flex;
    padding: 24px;
    border-radius: 12px;
    text-align: center;
}

#card-5 {
    position: relative;
    border: 0px;
    padding: 0px;
}

#card-5 .card-front, #card-5 .card-back {
    border: 1px solid black;
    border-radius: 12px;
    padding: 24px;
}

#card-5 .card-back {
    transform: scaleX(0);
}

#card-5 .card-front {
    background-image: url(../images/Mulan.webp);
    background-size: cover;
    background-position: center;
    border-radius: 12px;
    width: 100%;
    height: 100%;
    position: absolute;
}

#card-5 .card-front {
    transition: transform 0.25s;
}

#card-5 .card-back {
    transition: transform 0.25s 0.25s;
}

#card-5:hover .card-front {
    transform: scaleX(0);
}

#card-5:hover .card-back {
    transform: scaleX(1);
}

#card-6 {
    flex: wrap;
    position: relative;
    border: 0px;
    padding: 0px;
}

#card-6 .card-front, #card-6 .card-back {
    border: 1px solid black;
    border-radius: 12px;
    padding: 24px;
}

#card-6 .card-back {
    transform: scaleX(0);
}

#card-6 .card-front {
    background-image: url(../images/Peter\ pan.jpeg);
    background-size: cover;
    background-position: center;
    border-radius: 12px;
    width: 100%;
    height: 100%;
    position: absolute;
}

#card-6 .card-front {
    transition: transform 0.25s;
}

#card-6 .card-back {
    transition: transform 0.25s 0.25s;
}

#card-6:hover .card-front {
    transform: scaleX(0);
}

#card-6:hover .card-back {
    transform: scaleX(1);
}

#card-7 {
    position: relative;
    border: 0px;
    padding: 0px;
}

#card-7 .card-front, #card-7 .card-back {
    border: 1px solid black;
    border-radius: 12px;
    padding: 24px;
}

#card-7 .card-back {
    transform: scaleX(0);
}

#card-7 .card-front {
    background-image: url(../images/The\ lion\ king.webp);
    background-size: cover;
    background-position: center;
    border-radius: 12px;
    width: 100%;
    height: 100%;
    position: absolute;
}

#card-7 .card-front {
    transition: transform 0.25s;
}

#card-7 .card-back {
    transition: transform 0.25s 0.25s;
}

#card-7:hover .card-front {
    transform: scaleX(0);
}

#card-7:hover .card-back {
    transform: scaleX(1);
}

#card-8 {
    position: relative;
    border: 0px;
    padding: 0px;
}

#card-8 .card-front, #card-8 .card-back {
    border: 1px solid black;
    border-radius: 12px;
    padding: 24px;
}

#card-8 .card-back {
    transform: scaleX(0);
}

#card-8 .card-front {
    background-image: url(../images/Bambi.webp);
    background-size: cover;
    background-position: center;
    border-radius: 12px;
    width: 100%;
    height: 100%;
    position: absolute;
}

#card-8 .card-front {
    transition: transform 0.25s;
}

#card-8 .card-back {
    transition: transform 0.25s 0.25s;
}

#card-8:hover .card-front {
    transform: scaleX(0);
}

#card-8:hover .card-back {
    transform: scaleX(1);
}

#card-type-3 {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

#card-type-3 .rotate-card {
    flex: 300px;
    border: 1px solid black;
    margin: 24px;
    padding: 0px 24px;
    border-radius: 12px;
    text-align: center;
    font-family: 'Tilt Neon', cursive;
}
.rotate-card:hover {
    background-color: #beede5;
    box-shadow: inset 4px 4px 4px #7faea7;
    transform: rotate(360deg);
}
.rotate-card {
    transition:
        background-color 0.5s,
        box-shadow 0.5s,
        transform 1s;
}
