@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Poppins:wght@400;600&family=Sofia&display=swap');

* {
    box-sizing: border-box;
}
body {
    font-family: 'Poppins', sans-serif;
    margin: 0px;
    background-color: #f0b52b;
}

#grid-layout {
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-areas: 
    "header header"
    "sidebar main";
}

#header {
    grid-area: header;
    padding: 0px 36px;
}

#header a {
    text-decoration: none;
}
#header #me {
    color: #233f8b;
}
#header #tube {
    color: white;
    background-color: #233f8b;
    padding: 4px;
    border-radius: 12px;
}

#sidebar {
    grid-area: sidebar;
    padding: 0 24px;
}

#sidebar ul {
    padding: 12px 0px;
    margin: 0px;
    list-style-type: none;
    border-bottom: 1px solid #233f8b;
}

#sidebar ul a {
    text-decoration: none;
    color: #233f8b;
    display: block;
    padding: 12px;
}

#sidebar ul a:hover {
    background-color: #233f8b;
    border-radius: 12px;
    color: white;
    font-weight: bold;
}

#sidebar .sidebar-subscription {
    display: flex;
    flex-direction: row;
    color: #233f8b;
    align-items: center;
    width: 80%;
    justify-content: flex-start;
}

i {
    padding-right: 10px;
}

img {
    width: 50px;
    height: 50px;
    border-radius: 50% 0;
    border: 2px solid #233f8b;
}

#main {
    grid-area: main;
    display: flex;
    flex-wrap: wrap;
}

.metube-item {
    flex: 250px;
    margin-right: 12px;
    margin-bottom: 24px;
}
.metube-item .thumbnail-placeholder {
    aspect-ratio: 16/9;
    background-image: url(../images/Food.jpeg);
    background-size: cover;
    border-radius: 100px 0;
    border: 3px solid #d0b133;
    box-shadow: 3px 3px #273867, -0.6em 0 .4em #273867;

}


.metube-item h4 {
    margin: 8px;
}

.metube-item h4 a {
    text-decoration: none;
    color: #233f8b;
    display: block;
}
.video-details {
    margin: 8px;
}
.metube-item h4 a:hover {
    text-decoration: underline;
}

.metube-item .video-channel {
    margin-bottom: 4px;
}

.metube-item:nth-of-type(2) .thumbnail-placeholder {
    background-image: url(../images/color.jpeg);
}

.metube-item:nth-of-type(3) .thumbnail-placeholder {
    background-image: url(../images/Background.jpeg);
}

.metube-item:nth-of-type(4) .thumbnail-placeholder {
    background-image: url(../images/Architecture.jpeg);
}
