body {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(209, 208, 208);
}

header {
    background-color: blueviolet;
    padding: 36px;
}

main {
    margin: 20px;
}

h1 {
    text-align: center;
    color: white
}

nav a {
    color: white
}

nav {
    border: 20px;
}

.card {
    border: 2px solid blueviolet;
    margin: 20px;
    padding: 20px;
    background-color: white;
}

#image_container {
    Float: left;
    font-size: 10px;
    padding-right: 10px;
}

img {
    -moz-box-align: center;
    width: 100px;
}

#clear {
    clear: both;
}

footer {
    background-color: blueviolet;
    text-align: center;
    color: white;
    padding: 20px;
}