/*
    NOTE TO STUDENTS: 

    This is the file you should be writing your CSS in 
    for the Generic License assignment.

    Good luck, and have fun!
*/
#content {
    display: block;
    border: 1px solid;
    padding: 20px;
    border-radius: 20px;
}

#left-side {
    position: relative;
    width: 65%;
    padding: 200;
}

h1 {
    color: darkblue;
}

h4 {
    position: relative;
    width: 65%;
    background-color: darkblue;
    text-align: center;
    color: white;
}

#id-and-expiration {
    display: inline-block;
    border: 1px solid;
}

#address {
    display: inline-block;
    text-align: left;
    border: 1px solid;
    padding-right: 100px;
    font-weight: bold;
}

#data-fields {
    display: inline-block;
    border: 1px solid;
}
div #data-right {
    display: inline-block;
    border: 1px solid;
}

#data-left {
    display: inline-block;
    border: 1px solid;
}
#small-pic {
    display: inline-block;
    opacity: 50%;
}

span {
    color: red;
}
#right-side {
    display: inline-block;
    position: relative;
    width: 35%;
    top: px;
    padding-left: 190px;
}

#donor-and-real-id {
    text-align: center;
    color: red;
}

#real-id {
    display: inline-block;
}
