/*
    NOTE TO STUDENTS: 

    This is the file you should be writing your CSS in 
    for the Generic License assignment.

    Good luck, and have fun!
*/
#content {
    border: 3px solid blue;
    position: absolute;
    width: 100%;
    display: block;
}

#left-side {
    border: 3px solid blue;
    position: relative;
    width: 65%;
    display: block;
}

.state-name {
    border: 2px solid red;
    display: inline-block;
    color: darkblue;
}

#state-id {
    background-color: darkblue;
    color: white;
    text-align: center;
    display: block;
    position: relative;
    width: 65%;
}

#id-and-expiration {
    border: 2px solid yellow;
    display: inline-block;
}

.id {
    border: 2px solid;
    display: inline-block;
}

.expiration {
    border: 2px solid;
    display: inline-block;
}

#address {
    border: 2px solid pink;
    display: block;
    position: relative;
    width: 65%;
    font-weight: bold;
}

#personal-info {
    border: 2px solid maroon;
    display: inline-block;   
    position: relative;
    width: 65%;
}

.small-pic img {
    width: 60px;
    display: inline-block;
}

#personal-details {
    display: inline-block;
    position: relative;
    left: 80px;
    bottom: 70px;
}

.data-left {
    border: 2px solid;
    font-size: 12px;
    display: inline-block;
}

.data-right {
    border: 2px solid;
    font-size: 12px;
    display: inline-block;
    position: relative;
}

span {
    color: red
}

.signature {
    border: 2px solid;
    font-size: 15px;
    display: block;
    text-align: center;
}

#right-side {
    border: 3px solid blue;
    position: relative;
    width: 34%;
    display: inline-block;
    left: 80px;
    bottom: 5px;
}

.profile-pic {
    display: inline-block;
    width: 300px;
}