.body {
    margin: 0px;
    font-family: 'Times New Roman', Times, serif;
}

.flexbox {
    display: flex;
    justify-content: left;
    flex-direction: row;
    font-size: 15px;
    text-align: center;
}
img {
    width: 150px;
    height: 150px;
    border: solid darkgray;
    background-color: rgb(234, 233, 233);
    padding: 20px;
    margin: 20px;
}