/*
    NOTE TO STUDENTS: 

    This is the file you should be writing your CSS in 
    for the Bulletin Board assignment.

    Good luck, and have fun!
*/
.post-it {
    background-color: rgb(204, 233, 244);
    display: inline-block;
    width: 250px;
    margin: 24px;
    padding: 24px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.post-it p {
    color: rgb(17, 15, 118);
    font-weight: bold;
}

li {
    text-align: left;
}
.post-it img {
    width: 150px;
    border: 3px solid rgb(17, 15, 118);
    padding: 5px;
    border-radius: 20px;
}
.row-1 {
    background-color: yellow;
    display: inline-block;
    width: 250px;
    margin: 24px;
    padding: 24px;
}

img {
    display: inline-block;
    width: 95px;
    border: 1px solid;    
}

#img-2 {
    border-radius: 20px;
    border: 2px solid;
    text-align: center;
    text-decoration: underline;
    font-family: 'Courier New', Courier, monospace;
}
.paragrph-2 {
    text-align: center;
    font-weight: bold;
}
.paragrph-1 {
    text-align: center;
    border: 2px solid;
    border-radius: 10px;
    padding: 10px;
}
