/* Drill 1 - Write your code solution below */
#p {
    red;
}


/* Drill 2 - Write your code solution below */
.purple {
    color: red;
}



/* Drill 3 - Write your code solution below */
span dashed{
    color: magenta;
}


/* Drill 4 - Write your code solution below */



/* Drill 5 - Write your code solution below */
.dog-days img {
    border-radius: 100%;
}

