/* Drill 1 - Write your code solution below */
.red {
    padding: 15px;
}
.orange {
    padding: 15px;
    color: limegreen;
}

/* Drill 2 - Write your code solution below */
.purple p {
    border: 1px solid purple;
}


/* Drill 3 - Write your code solution below */



/* Drill 4 - Write your code solution below */



/* Drill 5 - Write your code solution below */


