
.image {
    border: 2px solid rgb(199, 197, 197);
    padding-bottom: 10px;
    padding: 5px;
    width: 150px;
}

.image img {
    width: 100%;
}

.image_card p {
    font-size: 10px;
}
.right {
    float: right;
    
}
.left {
    float: left;
}
.clear {
    clear: both;
}
.flexbox {
    display: flex;
    justify-content: rig;
}