#main {
    background-color: aqua;
    padding: 20px;
}

#content {
    background-color: rgb(31, 69, 237);
    margin: 20px;
    padding: 20px;
    border: 4px solid rgb(226, 237, 11);
    color: white
}

#content > div {
    margin: 16px 0px;
}

#quote_content {
    padding-left: 20px;
}

#quote_citation {
    padding-left: 30px;
}