.card {
    margin: 16px;
    border: solid salmon;
    background-color: white;
    padding: 16px;
    display: flex;
}
.image {
    align-items: baseline;
}

.image_1 {
    align-items: center;
}
h1 {
    text-align: center;
}