.card {
    margin: 16px;
    border: solid salmon;
    background-color: white;
    padding: 16px;
}
.image_container {
    display: flex;
}

.left {
    float: right;
}

h1 {
    text-align: center;
    padding: 20px;
}