* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: sans-serif;
}

#grid-layout {
    display: grid;
    grid-template-columns: 1fr 450px 250px 1fr;
    grid-template-areas: ". main-content sidebar .";
    margin: 36px 0px;
}

#sidebar {
    background-color: white;
    grid-area: sidebar;
    padding: 0 18px;
}

#sidebar h2 {
    background-color: #e0661a;
    padding: 12px;
    color: #393330;
    font-size: 15px;
    border-bottom: 2px solid #191615 ;
}

#sidebar ul {
    background-color: #393330;
    border: 3px solid #e0661a;
    margin: 0 0 36px;
    list-style-type: none;
    padding: 0 0;
    font-size: 12px;
}

#sidebar li {
    padding: 12px 12px;
    border-bottom: 2px solid #191615 ;
}

#sidebar li:last-child {
    border-bottom: none;
}

#sidebar a {
    color: #fcca95;
    text-decoration: none;
    font-weight: bold;
}

#sidebar li:hover a {
    color: #393330;
}

#sidebar li:hover  {
    background-color: #e0661a;
    color: #393330;
}

#sidebar a:hover {
    color: #393330;
}

h2 {
    padding: 10px 0px;
    font-size: 27px;
}

h5 {
    font-size: 12px;
    font-weight: bold;
}

#main-content {
    border: 3px solid #e0661a;
    background-color: #393330;
    color: #fcca95;
    grid-area: main-content;
    padding: 20px;
}

#main-content img {
    width: 100%;
    padding: 20px 0px;
}
